.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: $accent-main;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $accent-main-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--buy {
  position: absolute;
  bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  width: auto;
  left: 20px;
  right: 20px;

  @media (min-width: $tablet) {
    bottom: 40px;
    left: 38px;
    right: 38px;
  }
}

.button--more {
  padding: 10px 0;
  background-color: $basic-background;
  color: $text-light;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $basic-background-hover;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet) {
    position: absolute;
    bottom: 38px;
    left: 38px;
    right: 38px;
    width: auto;
  }
}

.button--supplement {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 17px;

  @media (min-width: $tablet) {
    bottom: 26px;
    left: 38px;
    right: 38px;
    width: calc(100% - 76px);
  }

  @media (min-width: $desktop) {
    position: relative;
    width: 244px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}

.button--submit {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    width: auto;
    position: static;
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (min-width: $desktop) {
    padding-left: 208px;
    padding-right: 208px;
  }
}

.button--nutrition {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);

  @media (min-width: $tablet) {
    position: static;
    margin-top: 49px;
    margin-left: 82px;
    display: inline-block;
    padding: 17px 26px;
    width: inherit;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    position: static;
    display: inline-block;
    margin: 0;
    width: auto;
    margin-left: 80px;
    margin-top: 52px;
    padding: 17px 26px;
  }
}
