.contacts__call-to-action {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 18px;
  color: $text-dark;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  color: $text-light;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
