.contacts {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px;
}

.contacts__call-to-action {
  width: 140px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 18px;
  color: $text-dark;
}

.contacts__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  color: $text-light;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
