.description {
  padding-top: 27px;
  padding-bottom: 42px;
}

.description__wrapper {
  padding: 0 20px;
  min-width: 280px;
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.description__list {
  list-style: none;
  padding: 0;
  padding-top: 38px;
  margin: 0;
}

.description__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.description__marker {
  flex-shrink: 0;
  height: 100%;
  width: auto;
}

.description__text {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  color: $text-light;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.description__item:nth-last-child(1) {
  padding-bottom: 0;
}
