.description {
  padding-top: 28px;
  padding-bottom: 42px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0 30px;
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: 0 110px;
    margin-top: 71px;
    margin-bottom: 11px;
    width: 1220px;
  }
}

.description__wrapper {
  padding: 0 20px;
  min-width: 280px;

  @media (min-width: $tablet) {
    padding: 0;
    min-width: 280px;
  }
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.description__list {
  list-style: none;
  padding: 0;
  padding-top: 38px;
  margin: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 77px;
    grid-column-gap: 75px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 72px;
    counter-reset: li;
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 0;
    justify-content: space-between;
    counter-reset: li;
  }
}

.description__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  &:nth-last-child(1) {
    padding-bottom: 0;
  }

  @media (min-width: $tablet) {
    min-width: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    min-height: 240px;

    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    padding-right: 0;
    min-width: auto;
  }
}

.description__marker {
  position: relative;
  background: url("../img/description-marker.svg");
  width: 60px;
  height: 60px;
  flex-shrink: 0;

  &::before {
    @media (min-width: $tablet) {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      top: -40px;
      left: 114px;
      color: $basic-background;
      z-index: -1;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    content: "";
  }

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}

.description__marker--leaf::after {
  width: 25px;
  height: 28px;
  background-image: url("../img/description-leaf.svg");

  @media (min-width: $tablet) {
    width: 30px;
    height: 32px;
  }
}

.description__marker--glass::after {
  width: 29px;
  height: 31px;
  background-image: url("../img/description-glass.svg");

  @media (min-width: $tablet) {
    width: 29px;
    height: 31px;
  }
}

.description__marker--cutlery::after {
  width: 25px;
  height: 30px;
  background-image: url("../img/description-cutlery.svg");

  @media (min-width: $tablet) {
    width: 25px;
    height: 30px;
  }
}

.description__marker--clock::after {
  width: 32px;
  height: 33px;
  background-image: url("../img/description-clock.svg");

  @media (min-width: $tablet) {
    width: 32px;
    height: 33px;
  }
}

.description__text {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  color: $text-light;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
    color: $text-light;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }

  @media (min-width: $desktop) {
    width: 245px;
  }
}
