.diet__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin-top: 22px;
}

.diet__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.diet__item {
  background-color: $basic-background;
  margin-top: 20px;
  padding: 0 20px;
}

.diet__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.diet__marker {
  position: relative;
  background: url("../../img/diet-marker.svg");
  width: 50px;
  height: 50px;
}

.diet__marker--slim::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 50px;
  content: "";
  background-image: url("../../img/diet-slim.svg");
  background-repeat: no-repeat;
}

.diet__marker--pro::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 28px;
  content: "";
  background-image: url("../../img/diet-pro.svg");
  background-repeat: no-repeat;
}

.diet__title {
  text-transform: uppercase;
  padding: 30px 0;
  margin: 0;
  margin-left: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
}

.diet__info {
  padding-bottom: 23px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-light;
  border-bottom: 1px solid $border-block;
}

.diet__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  padding: 19px 0;
}

.diet__link::after {
  position: absolute;
  content: "";
  right: -49px;
  background: url("../../img/icon_arrow.svg");
  width: 32px;
  height: 10px;
}
