.divider {
  position: relative;
  display: block;
  width: 100%;
}

.divider::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $accent-main;
  z-index: -1;
  width: 100%;

  @media (min-width: $tablet) {
    top: 22px;
  }
}

.divider--effect {
  display: inline-block;
  padding-right: 15px;
  padding-left: 20px;
  max-width: 185px;
  background-color: $basic-white;
}
