.example {
  background-color: $basic-background-dark;
  min-width: 280px;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    position: relative;
    background-color: transparent;
    border-top: 1px solid $border-menu;
  }

  @media (min-width: $desktop) {
    border: none;
  }
}

.example__wrapper {
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-top: 43px;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding-left: 110px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 146px;
    padding-top: 58px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-light;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop) {
    width: 440px;
    padding-bottom: 69px;
  }
}

.example__stats {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.example__stats-list {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    width: 366px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-gap: 42px;
    width: auto;
    justify-content: flex-start;
    padding-bottom: 57px;
  }
}

.example__stats-item {
  text-align: center;
  position: relative;
  padding-top: 13px;
  padding-bottom: 17px;
  border: 1px solid $border-list;
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 18px;
  }
}

.example__stats-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $text-light;
  margin: 0;
  padding: 0 9px;
  position: absolute;
  width: 59px;
  background-color: $basic-background-dark;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    padding: 0 5px;
    width: auto;
    white-space: nowrap;
    background-color: $basic-white;
    bottom: -7px;
    transform: translate(-50%, 0);
  }

  @media (min-width: $desktop) {
    background-color: $basic-background-dark;
  }
}

.example__caption {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 44px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    width: 180px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    width: 328px;
    text-align: center;
  }
}

.example__progress {
  @media (min-width: $tablet) {
    height: 620px;
  }

  @media (min-width: $desktop) {
    height: 656px;
    width: 690px;
    margin-left: 115px;
  }
}

.example__image-wrapper {
  display: flex;
  align-items: center;
  width: 200%;

  @media (min-width: $tablet) {
    position: relative;
    width: 708px;
    height: 552px;
    margin: 0 auto;
  }
}

.example__illustration {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-width: $tablet) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.example__illustration--before {
  background-image: url("../img/example-before-mobile.png");

  @media (min-width: $tablet) {
    z-index: 50;
    background-image: url("../img/example-before-tablet-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/example-before-tablet-desktop@2x.png");
    }
  }
}

.example__illustration--after {
  background-image: url("../img/example-after-mobile.png");

  @media (min-width: $tablet) {
    z-index: 40;
    left: auto;
    right: 0;
    background-image: url("../img/example-after-tablet-desktop.png");
    direction: rtl;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/example-after-tablet-desktop@2x.png");
    }
  }
}

.example__progress .example__image-wrapper {
  transform: translateX(0);
  transition: 0.3s;
}

.example__progress--after .example__image-wrapper {
  transform: translateX(-50%);
  transition: 0.3s ease-out;
}

.example__progress .example__progress-toggle {
  transform: translateX(0);
  transition: 0.3s ease-out;
}

.example__progress--after .example__progress-toggle {
  transform: translateX(100%);
}

.example__buttons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  margin: 13px auto 0;

  @media (min-width: $tablet) {
    width: 590px;
  }

  @media (min-width: $desktop) {
    width: 584px;
    margin: 0 auto;
  }
}

.example__progress-bar {
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid $border-list;
  border-radius: 6px;
  background-color: $basic-white;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    position: relative;
    width: 428px;
    height: 34px;
    border: none;
    background-color: transparent;
    transform: translate(4px, 11px);
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.example__range {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: $border-scale;
    outline: 0;
    cursor: pointer;
  }
}

.example__progress-toggle {
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: $accent-main;

  @media (min-width: $tablet) {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: -23px;
    width: 34px;
    height: 34px;
    border: 1px solid $border-list;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    background-color: $basic-white;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 13px;
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $accent-main;
    }
  }
}

.example__progress-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 0;
  width: 70px;
  border: none;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $border-button;
    outline: 0;
    width: auto;
    padding: 1px 0;
  }
}

.example__background {
  @media (min-width: $tablet) {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: $basic-background-dark;
  }
}
