.nutrition {
  min-width: 280px;
}

.nutrition__promo-background {
  background: $text-strong url("../img/promo-background.png") 65% no-repeat;
}

.nutrition__overlay {
  background-color: $accent-fill;
  min-height: 302px;
}

.nutrition__header {
  color: $basic-white;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  padding-top: 27px;
  text-align: center;
}

.nutrition__call-to-action {
  color: $basic-white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  text-align: center;
}

.nutrition__product-image {
  display: block;
  margin: 0 auto;
  margin-top: -135px;
  margin-bottom: 3px;
}

.nutrition__wrapper {
  padding: 0 20px;
}
