.page-header {
  @media (min-width: $tablet) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }

  @media (min-width: $desktop) {
    padding: 53px 110px;
  }
}

.page-header__top-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding: 0 20px;
  min-width: 280px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.page-header__logo img {
  display: block;
  width: 34px;
  height: 38px;
  position: absolute;
  top: 12px;
  left: 20px;

  @media (min-width: $tablet) {
    position: static;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-name {
  display: block;
  width: 101px;
  height: 18px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__nav-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 23px;
  border: none;
  background: none;
  box-sizing: content-box;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &--active {
    display: block;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__nav-icon {
  display: none;
}

.page-header__nav-icon--active {
  display: block;
}
