.page-main__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 37px;
  color: $basic-black;

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 141px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 188px;
  }
}
