.page-header__top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding: 0 20px;
  min-width: 280px;
}

.page-header__logo-mobile {
  display: block;
  width: 34px;
  height: 38px;
}

.page-header__logo {
  display: block;
  width: 101px;
  height: 18px;
}

.page-header__nav-toggle {
  border: none;
  background: none;
  box-sizing: content-box;
  width: 24px;
}

.page-header__nav-toggle:hover,
.page-header__nav-toggle:active {
  cursor: pointer;
}

.page-header__nav-icon {
  display: none;
}

.page-header__nav-icon--active {
  display: block;
}
