.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;
  text-align: center;
  padding-bottom: 13px;
}

.slider__item--active {
  display: block;
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.slider__control-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: none;
  min-width: 70px;
  padding: 10px 0;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.slider__control-scale {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $border-list;
  border-radius: 6px;
}

.slider__control-scroll {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $accent-main;
  margin-top: 3px;
  margin-left: 5px;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

@media (min-width: $tablet) {
  .slider {
    background-color: $basic-background-dark;
  }

  .slider__control-button {
    font-size: 20px;
    line-height: 30px;
    width: auto;
    padding: 0;
  }

  .slider__control-scale {
    width: 428px;
    height: 6px;
    border: 6px solid $border-scale;
    border-radius: 3px;
  }

  .slider__control-scroll {
    display: none;
  }
}
