.social-list {
  list-style: none;
  padding-top: 19px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 130px;
  align-items: flex-end;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
    width: auto;
    margin-left: 35px;
  }

  @media (min-width: $desktop) {
    width: auto;
    min-width: 130px;
    padding: 0;
    margin: 0;
    margin-left: 25px;
  }
}

.social-list__item {
  width: auto;
  min-height: 33px;
  margin-right: 10px;

  &:nth-last-child(1) {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 30px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.social-list__icon {
  fill: $text-strong;

  &:hover {
    fill: $accent-main;
  }

  &:active {
    fill: $accent-main;
    opacity: 0.3;
  }
}


.social-list__link--vk svg {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet) {
    width: 30px;
    height: 22px;
  }
}

.social-list__link--instagram svg {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet) {
    width: 23px;
    height: 23px;
  }
}

.social-list__link--facebook svg {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet) {
    width: 28px;
    height: 33px;
  }
}
