.social-copyright {
  padding: 22px 20px;
  margin: 0;
  background-color: $basic-background;
  min-width: 280px;

  @media (min-width: $tablet) {
    display: flex;
    padding: 58px 30px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 58px 110px;
  }
}

.social-copyright__logo {
  display: block;
  padding-top: 17px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid $border-block;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}
