.social-copyright {
  padding: 22px 20px;
  margin: 0;
  padding-top: 5px;
  background-color: $basic-background;
  min-width: 280px;

  @media (min-width: $tablet) {
    display: flex;
    padding: 58px 30px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 58px 110px;
  }
}

.social-copyright__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  width: 100%;
  background-image: url("../img/logo-name.svg");
  background-repeat: no-repeat;
  background-size: 128px 24px;
  background-position: center center;
  margin: 0 auto;
  border-bottom: 1px solid $border-block;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
    width: 128px;
    margin: 0;
    height: 24px;
  }
}
