.social {
  padding: 0 20px;
}

.social__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid $border-block;
}

.social__list {
  padding: 20px 0;
  margin: auto;
  list-style: none;
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.social__item {
  margin: 0;
  padding: 0;
}
