.social-copyright {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
  padding-bottom: 22px;
  margin: 0;
  background-color: $basic-background;
  min-width: 280px;

  @media (min-width: $tablet) {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 58px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 58px 110px;
  }
}

.social-copyright__logo {
  display: block;
  min-height: 24px;
  height: 100%;
  background-image: url("../img/logo-name.svg");
  background-repeat: no-repeat;
  background-size: 128px 24px;
  background-position: top center;
  margin: 0 auto;
  padding-bottom: 32px;
  border-bottom: 1px solid $border-block;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
    width: 128px;
    margin: 0;
    height: 24px;
  }
}
