$basic-black: #000000;
$basic-white: #ffffff;

$basic-background: #f2f2f2;
$basic-background-dark: #eaeaea;
$basic-background-hover: #ebebeb;

$border-menu: #e6e6e6;
$border-block: #d9d9d9;
$border-list: #cdcdcd;

$accent-main: #68b738;
$accent-main-hover: #5eaa2f;
$accent-error: #ff8282;

$accent-fill: rgba(104, 183, 56, 0.85);

$text-light: #444444;
$text-strong: #666666;
$text-dark: #111111;
